<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="me.allen.newBlog.mapper.LogMapper">

    <select id="ipSummary" resultType="me.allen.newBlog.model.bo.EchartsBo">
        select name, value from (
            SELECT ip_info AS name, COUNT(*) AS value
            FROM nb_log
            WHERE ip_info != '未知'
              AND ip_info != ''
            GROUP BY ip_info
        ) where rownum &lt;= 10
    </select>

    <select id="urlSummary" resultType="me.allen.newBlog.model.bo.EchartsUrlBo">
        SELECT to_char(l.time, 'yyyy-MM-dd') as item, COUNT(*) as cnt
        FROM nb_log l
        WHERE 1=1
          AND l.time >= add_months(sysdate,-30)
          AND l.url NOT LIKE '%' || '/management/' || '%'
          AND l.url NOT LIKE '%' || '/upfiles/' || '%'
        GROUP BY to_char(l.time, 'yyyy-MM-dd')
        ORDER BY to_char(l.time, 'yyyy-MM-dd') DESC
    </select>

    <select id="browserSummary" resultType="me.allen.newBlog.model.bo.EchartsBo">
        SELECT browser AS name, COUNT(1) as value
        FROM nb_log
        WHERE browser != 'Unknown'
        GROUP BY browser
    </select>

    <select id="todayVisit" resultType="long">
        select count(1)
        from nb_log l
        where to_char(l.time, 'yyyy-MM-dd') = to_char(sysdate, 'yyyy-MM-dd')
    </select>

    <delete id="removeLogBeyondMonth">
        delete
        from nb_log
        where to_date(to_char(t.time, 'yyyy-mm-dd'),'yyyy-mm-dd') - to_date(sysdate, 'yyyy-MM-dd') >= 31
    </delete>

</mapper>