<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="author" th:content="${settings.info_label_nickname}" />
    <meta name="description" th:content="${settings.seo_description}" />
    <meta name="keywords" th:content="${settings.seo_keyword}" />
    <link rel="shortcut icon" href="/static/assets/img/favicon.png">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>小汪的酱牛肉 - 登录</title>
    <link rel="stylesheet" type="text/css" href="/static/plugins/layui/css/layui.css">
    <link rel="stylesheet" type="text/css" href="/static/plugins/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="/static/assets/css/login-registration.css">
</head>
<body>
<div class="layui-row user-login">
    <div class="layui-col-xs12 layui-col-sm12 layui-col-md12 layui-col-lg12">
        <form class="login-form layui-form">
            <div class="login-header">
                <h2 style="font-style: italic;">[[${settings.website_logo_words}]]
                    <small style="font-size: 14px;color: #e3303e;"></small>
                </h2>
                <p>愿天堂没有BUG&copy;&nbsp;<small></small>
                </p>
            </div>
            <div class="login-body">
                <div class="layui-form-item">
                    <label><i class="layui-icon layui-icon-username"></i> </label>
                    <input type="text" name="nbv5name" lay-verify="username"
                           placeholder="用户名" class="layui-input">
                </div>
                <div class="layui-form-item">
                    <label><i class="layui-icon layui-icon-password"></i> </label>
                    <input type="password" name="nbv5pass" lay-verify="pass"
                           placeholder="密码" class="layui-input">
                </div>
                <div class="layui-form-item">
                    <div class="layui-row layui-col-space15">
                        <div class="layui-col-xs7">
                            <label for="NB-user-vercode" style="margin-top: 8px;margin-left: 7px;"><i
                                    class="layadmin-user-login-icon layui-icon layui-icon-vercode"></i> </label>
                            <input type="text" name="nbv5code" id="LAY-user-login-vercode" lay-verify="required"
                                   placeholder="验证码" class="layui-input">
                        </div>
                        <div class="layui-col-xs5">
                            <div>
                                <img src="/image/code" class="layadmin-user-login-codeimg" id="NB-user-vercode"
                                     onclick="captchaRefresh(this)">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="layui-form-item">
                    <div id="slider"></div>
                </div>
                <div class="layui-form-item layui-hide">
                    <button id="v5Login" class="layui-btn layui-btn-fluid" lay-submit lay-filter="nbv5LoginSubmit">登 入
                    </button>
                </div>
                <div class="layui-form-item login-footer">
                    <label th:if="${isOpenQqLogin||isOpenGithubLogin}">社交账号登入</label>
                    <a id="fromQqLogin" href="javascript:doQqLogin();" title="qq登录" th:if="${isOpenQqLogin}"
                       onclick="layer.msg('正在通过QQ登入', {icon:16, shade: 0.1, time:0})"
                       style="border: none;"><i class="fa fa-qq" style="font-size: 18px;"></i></a>

                    <a id="fromGithubLogin" href="javascript:doGithubLogin();" th:if="${isOpenGithubLogin}"
                       onclick="layer.msg('正在通过GITHUB登入', {icon:16, shade: 0.1, time:0})"
                       style="border: none;margin-left: 10px;" title="github登录"><i class="fa fa-github"
                                                                                   style="font-size: 20px;"></i></a>
                    <a th:if="${isOpenRegister}" href="/reg" style="color:#f44336;float: right;">前往注册</a>
                    <a href="/" style="color:#f44336;float: right;margin-right: 5px;">前往主页</a>
                </div>
            </div>
        </form>
    </div>
</div>
<div class="layui-trans layadmin-user-login-footer footer-login" style="z-index: -100;">

    <p style="text-align: center;">
        <i class="fa fa-copyright"></i>&nbsp;[[${settings.footer_words}]] powered by
        <a href="javascript:void(0);" style="color: #1E9FFF;">Allennicion</a> in 2021
    </p>
    <p style="text-align: center;">
        <span><a class="m-text-a" href="https://beian.miit.gov.cn/" target="_blank">
            皖ICP备2020017365号-3

        </a></span>
        <span><a class="m-text-a" href="http://www.beian.gov.cn/portal/registerSystemInfo?recordcode=34011102002916" target="_blank" style="margin-left: 10px;">
            <img src="https://emiria.oss-cn-shenzhen.aliyuncs.com/base/icon_ba.png"/>
            皖公网安备 34011102002916号
        </a></span>
</div>

<script src="/static/plugins/layui/layui.js"></script>
<script src="/static/plugins/jquery/jquery-1.11.3.min.js"></script>
<script src="/static/plugins/md5/md5.min.js"></script>
<script src="/static/assets/js/newBlog.js"></script>
<script th:inline="javascript">
    var isOpenQqLogin = [[${isOpenQqLogin}]];
    var isOpenGithubLogin = [[${isOpenGithubLogin}]];
    if (self !== top) {
        parent.window.location.replace(window.location.href);
    }
</script>
<script>
    layui.config({
        base: '/static/plugins/layui/lay/modules/'
    }).extend({
        sliderVerify: 'sliderVerify'
    });
</script>
<script src="/static/assets/js/login.js"></script>
</body>
</html>